<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/f0097a676d.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <a href="/"><i class="fa-solid fa-house"></i>PokeApi</a>
        <form action="/search/:search">
            <div class="searchInput">
                <input type="text" name="search" id="search" placeholder="Search">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </div>
        </form>
    </header>
    
    <main>

        <div class="pokeCards">
            <% processedPokemons.forEach(pokemon => { %>
                <div class="IndividualPokeCard">
                    <h2><%-pokemon.name%></h2>
                    <img src="<%-pokemon.sprite%>" alt="Image of a Pokemon" class="spriteFrontDefault">
                    <div class="pokeTypes">
                        <h4 class="pokeType"><%-pokemon.type1%></h4>
                        <% if (pokemon.type2 != undefined) { %>
                            <h4 class="pokeType"><%-pokemon.type2%></h4>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>

        <div class="prevNextContainer">
            <% if (offset > 0) { %>
                <% let newOffsetNext = parseInt(offset) + 10 %>
                <% let newOffsetPrev = parseInt(offset) - 10 %>
                <div class="prevNext"><a href="/<%-newOffsetPrev%>"><i class="fa-solid fa-arrow-left"></i>Previous</a></div>
                <div class="prevNext"><a href="/<%-newOffsetNext%>">Next<i class="fa-solid fa-arrow-right"></i></a></div>
            <% } else { %>
                <% let newOffsetNext = parseInt(offset) + 10 %>
                <div class="prevNext"><a href="/<%-newOffsetNext%>">Next<i class="fa-solid fa-arrow-right"></i></a></div>
            <% } %>
        </div>

    </main>

    <footer>
        <p>Pablo Berrettoni ©</p>
    </footer>

</body>
</html>