<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeSearch</title>
    <link rel="stylesheet" href="css/search.css">
    <script src="https://kit.fontawesome.com/f0097a676d.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <%- include('../partials/headerPartial') %>

    <% if (pkm != undefined ) { %>
        <main>
            <div class="pokeImage">
                <img src="<%-pkm.sprite%>" alt="Image of a Pokemon" class="spriteFrontDefault">
            </div>
            <div class="pokeInfo">
                <h2><%-pkm.name%></h2>
                <div class="pokeTypes">
                    <h4 class="pokeType"><%-pkm.type1%></h4>
                    <% if (pkm.type2 != undefined) { %>
                        <h4 class="pokeType"><%-pkm.type2%></h4>
                    <% } %>
                </div>
            </div>
        </main>
    <% } else { %>
        <h1>No se encontraron pokemons con ese nombre</h1>
    <% } %>

    <%- include('../partials/footerPartial') %>
    
</body>
</html>